<!DOCTYPE html>
<html lang="en" ng-app="hap">
<head>
    <meta charset="UTF-8">
    <title>HAP Admin Panel</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">

    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="css/main.css"/>

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
</head>
<body>

<div layout="column" layout-align="center center" layout-fill="layout-fill" ng-controller="loginCtrl">

    <form layout="column" class="loginBox md-whiteframe-z1" ng-submit="loginForm.submit()">
        <md-toolbar>
            <h2 class="md-toolbar-tools"><span>Login</span></h2>
        </md-toolbar>
        <md-content layout="column" class="md-padding">
            <md-input-container>
                <label>Email</label>
                <input type="text" ng-model="loginForm.fields.email"/>
            </md-input-container>
            <md-input-container>
                <label>Password</label>
                <input type="password" ng-model="loginForm.fields.password"/>
            </md-input-container>

            <md-button ng-click="loginForm.submit()" class="md-raised md-primary">Login</md-button>

            <!--md-button href="" md-no-ink="md-no-ink">Forgot Password</md-button-->

        </md-content>
    </form>
</div>

<script src="js/config.js"></script>
<script src="js/app.js"></script>
</body>
</html>