    <div class="panel panel-default">
        <!--div class="panel-heading">
            <div ng-bind="currUserName" id="currUserName"></div>
            <md-datepicker ng-show="companion" md-max-date="maxDate" ng-model="historyDate"
                           ng-change="getHistory()"></md-datepicker>
            <div style="clear: both"></div>
        </div-->
        <div class="panel-body" layout-padding id="msg-wrap">
            <div class="message-container" ng-repeat="message in messages | orderBy:'id'">
                <div class="message" ng-class="getMessageClass(message)">
                    {{ message.content }}
                    <div class="time">{{ message.created_at | date : 'dd MMM HH:mm'}}</div>
                </div>
            </div>
        </div>
    </div>
    <md-content layout-padding style="display: flex; flex-direction: row">


        <div style="flex-grow: 5">
            <md-input-container class="md-block">
                <label>Enter your message</label>
                <input type="text" id="message-input" ng-model="messageText" ng-keyup="$event.keyCode == 13 && sendMsg(messageText)" />
            </md-input-container>
        </div>

        <div style="flex-grow: 1; text-align: right">
            <md-button class="md-raised md-primary" ng-click="sendMsg(messageText)">Send</md-button>
        </div>

    </md-content>

