<div>
    <div style="background: #cacaca; overflow: hidden; padding: 10px">
        <md-datepicker md-date-filter="isDateActive" ng-model="diffDate" ng-change="onCalendarChange(diffDate)" md-placeholder="Today"></md-datepicker>
    </div>
    <div ng-if="!account && showLoader">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <div ng-if="account">
        <div class="hap-graph">
            <canvas id="line" class="chart chart-line" chart-data="data"
                    chart-labels="labels" chart-series="series" chart-options="options"
                    chart-dataset-override="datasetOverride" chart-click="onClick">
            </canvas>
        </div>
        <md-list flex>
            <md-list-item ng-class="'md-1-line'" ng-repeat="position in account.positions">
                <div class="md-list-item-text hap-position" flex layout-align="space-between start">
                    <span class="hap-position-name">{{position.name}}</span>
                    <span class="hap-position-diff-percent"><span style="color: green" ng-if="position.diff.value >= 0">&uarr;</span><span style="color: red" ng-if="position.diff.value < 0">&darr;</span>{{position.diff.percent | currency : "" : 0}}%</span>
                    <span class="hap-position-diff-value"><span style="color: green" ng-if="position.diff.value >= 0">&uarr;</span><span style="color: red" ng-if="position.diff.value < 0">&darr;</span>{{position.diff.value  | currency : position.currency + '&nbsp;' : 2}}</span>
                    <span class="hap-position-total">{{position.total | currency : position.currency + ' ' : 2 }}</span>
                </div>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </div>
    <md-toolbar ng-if="noData && !account && !showLoader" class="md-accent">
        <h2 class="md-toolbar-tools">
            <span>No data for selected date</span>
        </h2>
    </md-toolbar>

</div>