<div layout="column" layout-align="center center" layout-fill="layout-fill">

    <form layout="column" class="loginBox md-whiteframe-z1" ng-submit="loginForm.submit()">
        <md-toolbar>
            <h2 class="md-toolbar-tools"><span>Login</span></h2>
        </md-toolbar>
        <md-content layout="column" class="md-padding">
            <md-input-container>
                <label>Email</label>
                <input type="text" ng-model="loginForm.fields.email"/>
            </md-input-container>
            <md-input-container>
                <label>Password</label>
                <input type="password" ng-model="loginForm.fields.password"/>
            </md-input-container>

            <md-button ng-click="loginForm.submit()" class="md-raised md-primary">Login</md-button>

            <!--md-button href="" md-no-ink="md-no-ink">Forgot Password</md-button-->

        </md-content>
    </form>
</div>