<!--div ng-include="'views/header.html'"></div-->
<div ng-if="!portfolio && showLoader">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
<div ng-if="portfolio" layout-padding>
    <h4  flex layout-align="space-between start"><span>TOTAL TO DATE </span><span>{{ portfolio.total | currency : currency + '&nbsp;' : 2 }}</span>
    </h4>

    <h5>Since last visit<span ng-if="lastVisitDate"> ({{lastVisitDate}})</span>:</h5>
    <div class="hap-diff-container">
        <div class="diff-percent"><span style="color: green" ng-if="portfolio.diff.percent >= 0">&uarr;</span><span style="color: red" ng-if="portfolio.diff.percent < 0">&darr;</span> {{ portfolio.diff.percent | currency : "" : 0}}%</div>
        <div class="diff-value"><span style="color: green" ng-if="portfolio.diff.value >= 0">&uarr;</span><span style="color: red" ng-if="portfolio.diff.value < 0">&darr;</span>{{ portfolio.diff.value | currency : portfolio.currency + '&nbsp;' : 2}}</div>
    </div>
</div>
<md-divider></md-divider>
<md-list flex>
    <md-list-item ng-class="'md-3-line ' + accountSelectedClass(account)" ng-repeat="account in portfolio.accounts"
                  ng-click="showAccount(account)">
        <div class="md-list-item-text">
            <b>{{account.name}}</b>
            <div>{{ account.total | currency : account.currency + '&nbsp;' : 2}}</div>
            <div class="hap-diff-container">
                <div class="diff-percent"><span style="color: green" ng-if="account.diff.percent >= 0">&uarr;</span><span style="color: red" ng-if="account.diff.percent < 0">&darr;</span> {{ account.diff.percent | currency : "" : 0}}%</div>
                <div class="diff-value"><span style="color: green" ng-if="account.diff.value >= 0">&uarr;</span><span style="color: red" ng-if="account.diff.value < 0">&darr;</span> {{ account.diff.value | currency : account.currency + '&nbsp;' : 2}} </div>
            </div>
        </div>
        <md-divider></md-divider>
    </md-list-item>
</md-list>
