.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-default {
    border-color: #ddd;
}
.panel-body {
    height: 400px;
    padding: 15px;
}
.panel-heading{
    height: 55px;
    background-color: #babdff;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}


.user{
    height: 40px;
}
.user:hover {
    cursor: pointer
}

.not-viewed{
    float: right;
    padding: 10px;
    background-color: #B6F7D0;
    border-radius: 3px;
}
.user-name{
    float: left;
    padding: 10px;
}

.message-container {
    width: 100%;
    clear: both;
}

.message {
    margin-bottom: 5px;
    padding: 2px 25px;
    max-width: 70%;
    float: left;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
    text-align: right;
    background-color: #fff;
}

.message.my {
    float: right;
    background-color: #E8FFE8;
}


.activ {
    border-radius: 3px;
    background-color: #eee;
}

.time {
    font-size: x-small;
    color: #666
}

#msg-wrap {
    overflow-y: scroll;
    background-color: #FDFDFD;
}
#currUserName{
    width: 49%;
    float: left;
    font-size: large;
}
md-datepicker{
    width: auto;
    float: right;
}