@import "../../node_modules/angular-material/angular-material.css";
@import "chat.css";

.loginBox {
  max-width:  90%;
  width: 500px
}

.stretch input  {
  width: 100%
}

md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
  min-height: 100%!important;
}

.hap-columns {


  .hap-column {
    height:100%;

    box-shadow: -5px 10px 14px rgba(0,0,0,0.3);
    &.client {
      flex-grow: 1;
      min-width: 15%;
    }
    &.portfolio {
      flex-grow: 1;
      min-width: 25%;
    }
    &.details {
      overflow: scroll;
      flex-grow: 3;
      min-width: 60%;
    }
  }
}

.hap-selected {
  background-color: rgba(158,158,158,0.2);
}

.hap-diff-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .diff-percent {

  }
  .diff-value {

  }
}

.hap-position-name {
  width: 30%;
  display: inline-block;
}

.hap-position-diff-percent {
  width: 20%;
  display: inline-block;
}

.hap-position-diff-value {
  width: 20%;
  display: inline-block;
}

.hap-position-diff-total {
  width: 20%;
  display: inline-block;
}

.hap-position-link {
  width: 10%;
  display: inline-block;
  text-align: right;
}

.hap-product-content {
  div {

    span {
      display: block;
      border-bottom: 1px solid #cacaca;
      padding-bottom: 5px;
      margin-bottom: 5px;
      opacity: 0.5;
    }
  }

}