<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
        <h2>
            <span>HAP Account Manager Console</span>
        </h2>
        <span flex></span>
        <md-button class="md-raised" ng-click="app.logout()">
            Logout
        </md-button>
    </div>
</md-toolbar>