<div>
    <div style="background: #cacaca; overflow: hidden; padding: 10px">
        <md-datepicker md-date-filter="isDateActive" ng-model="diffDate" ng-change="onCalendarChange(diffDate)"
                       md-placeholder="Today"></md-datepicker>
    </div>
    <div ng-if="!products && showLoader">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <div ng-if="products" style="display: flex; flex-wrap: wrap">
        <!--md-list flex>
            <md-list-item ng-class="'md-1-line'" ng-repeat="product in products">
                <div class="md-list-item-text hap-position" flex layout-align="space-between start">
                    <span class="hap-position-name">{{product.name}}</span>
                    <span class="hap-position-diff-percent"><span style="color: green" ng-if="product.diff.value >= 0">&uarr;</span><span style="color: red" ng-if="product.diff.value < 0">&darr;</span>{{product.diff.percent | currency : "" : 0}}%</span>
                    <span class="hap-position-diff-percent"><span style="color: green" ng-if="product.diffLastVisitDate.value >= 0">&uarr;</span><span style="color: red" ng-if="product.diffLastVisitDate.value < 0">&darr;</span>{{product.diffLastVisitDate.percent | currency : "" : 0}}%</span>

                    <span class="hap-position-total">{{product.isin }}</span>
                    <span class="hap-position-link" ng-if="product.file"><a target="_blank" href="{{product.file }}">
                        <img src="img/icon_pdf.png"  height="20"/>
                    </a></span>
                </div>
                <md-divider></md-divider>
            </md-list-item>
        </md-list-->


        <div style="width: 50%; box-sizing: border-box" ng-repeat="product in products">


            <md-card>
                <md-card-title>

                    <md-card-title-text>
                        <span class="md-headline">{{product.name}}</span>
                        <span class="md-subhead">{{product.company.name}}</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-sm card-media">
                            <a target="_blank" href="{{product.file}}"><img
                                    src="img/icon_pdf2.png"/></a>
                        </div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-content>
                    <div class="hap-product-content"
                         style="display: flex; flex-direction: row; justify-content: space-between">
                        <div>
                            <span>ISIN</span>
                            {{product.isin}}
                        </div>
                        <div>
                            <span>VALUATION</span>
                            {{product.total | currency : product.currency + '&nbsp;' : 2}}
                        </div>
                        <div>
                            <span>YEAR-TO-DATE</span>
                            {{product.ytd}}
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </div>

    </div>
    <md-toolbar ng-if="noData && !products && !showLoader" class="md-accent">
        <h2 class="md-toolbar-tools">
            <span>No data for selected date</span>
        </h2>
    </md-toolbar>

</div>