<!--div ng-include="'views/header.html'"></div-->
<md-list flex>
    <md-list-item ng-class="'md-1-line ' + customerSelectedClass(user)" ng-repeat="user in users" ng-click="showUser(user)">
        <div class="md-list-item-text">
            <h3>{{user.firstName}} {{user.lastName}}</h3>
            <!--<br>{{user.email}}-->
        </div>
        <md-divider></md-divider>
    </md-list-item>
</md-list>