<!--div ng-include="'views/header.html'"></div-->

<div ng-if="portfolio" layout-padding>
    <h4  flex layout-align="space-between start"><span>TOTAL TO DATE </span><span>{{ portfolio.total }} {{ currency }}</span>
    </h4>

    <h5>Since last visit:</h5>
    <div class="hap-diff-container">
        <div class="diff-percent">{{ portfolio.diff.percent }}%</div>
        <div class="diff-value">{{ portfolio.diff.value }} {{ portfolio.currency }}</div>
    </div>
</div>
<md-divider></md-divider>
<md-list flex>
    <md-list-item ng-class="'md-3-line ' + accountSelectedClass(account)" ng-repeat="account in portfolio.accounts"
                  ng-click="showAccount(account)">
        <div class="md-list-item-text">
            <b>{{account.name}}</b>
            <div>{{ account.total }} {{ account.currency }}</div>
            <div class="hap-diff-container">
                <div class="diff-percent">{{ account.diff.percent }}%</div>
                <div class="diff-value">{{ account.diff.value }} {{ account.currency }}</div>
            </div>
        </div>
    </md-list-item>
</md-list>
